
<p>
  <label for="settings_teams_url">Teams URL</label>
  <input type="text" id="settings_teams_url" size=80 value="<%= settings['teams_url'] %>" name="settings[teams_url]" />
</p>

<p>
  Generate an "Incoming WebHook" URL from the <a href="https://teams.com/apps/build/custom-integration">apps configuration page on Teams</a>. This URL can be changed on a per-project basis by creating a <a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Teams URL" (without quotes).
</p>

<p>
  <label for="settings_issue_status_id">Issue Status ID</label>
  <input type="number"  id="settings_issue_status_id" min="1" max="100" name="settings[status_id]" value="<%= settings['status_id']%>" /> 
</p>

<p>
  <label for="settings_post_updates">Post Issue Updates?</label>
  <input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>
